target/
*.iml
*~
.*
!/.gitignore
build/

src/integrationTest/resources/mounted-directory/from-nifi/
src/integrationTest/resources/mounted-directory/to-nifi/
src/integrationTest/resources/mounted-directory/nifi-logs/